@{
    ViewData["Title"] = "SEAR";
}
<div class="container configuracion-sear">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Alimentador de Mascotas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="text-uppercase text-primary">Configuración de Modos</h2>

            @using (Html.BeginForm("saveConfigurationForm", "Configuracion", FormMethod.Post, new { @id = "form-config", @class = "form-horizontal" }))
            {

                <div class="form-group text-left">
                    <label for="configuracion" class="col-sm-3 control-label">Seleccione el modo</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">@Html.RadioButton("modo", "normal", true) Normal</label>
                        <label class="radio-inline">@Html.RadioButton("modo", "testing") Testing</label>
                        <label class="radio-inline">@Html.RadioButton("modo", "mantenimiento") Mantenimiento</label>
                        <label class="radio-inline">@Html.RadioButton("modo", "finMantenimiento") Fin Mantenimiento</label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9 text-left">
                        <button id="saveConf" type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
               }

            </div>
        <div class="col-md-6 col-md-offset-3 text-danger mensaje"></div>

    </div>

</div>